In [1]:
import pandas as pd
data = pd.read_csv("test_data.csv", dtype="float")

In [2]:
import numpy as np
#data["x3"] = np.random.randn(len(data))
data.iloc[3]["Sx"] = np.NAN
data

,Unnamed: 0,x,Sx,Sy,total_size,xopt_runtime,xopt_error
0,1.0,-0.453386,0.842380,1.103417,1.388212,0.000062,0.0
1,2.0,-0.453386,0.953083,1.339052,1.643602,0.000062,0.0
2,3.0,-0.453386,0.938259,1.623012,1.874699,0.000062,0.0
3,4.0,-0.453386,NaN,1.170852,1.533612,0.000062,0.0
4,5.0,-0.453386,0.761355,1.164282,1.391119,0.000062,0.0
...,...,...,...,...,...,...,...
105,106.0,-1.404905,1.213152,1.859222,2.220010,0.000042,0.0
106,107.0,-1.404905,1.246280,1.951672,2.315651,0.000042,0.0
107,108.0,-1.404905,1.117802,2.107495,2.385585,0.000042,0.0
108,109.0,-1.404905,1.369317,2.170679,2.566491,0.000042,0.0
109,110.0,-1.404905,1.234512,1.957512,2.314275,0.000042,0.0

In [3]:
import numpy as np
pt = pd.pivot_table(data, values=["Sx"], columns=["x"], aggfunc=np.mean).T
pt

                 Sx
x
-1.806631  1.544809
-1.404905  1.243962
-1.272233  1.182103
-0.815198  0.912359
-0.453386  0.900921
-0.036205  0.903860
 0.401458  1.311480
 0.821722  1.523534
 1.213271  1.972628
 1.529106  2.186924
 1.657522  2.334409

In [4]:
vals.argmin()
pt.index[vals.argmin()]
pt.index.name
#best_idx = pt.idxmin(axis=0)
#best_idx.to_dict()
#

NameError: name 'vals' is not defined

In [11]:
pt_list = pd.pivot_table(data, values=["Sx"], columns=["x"], aggfunc=list)

constraint_list = []
for name, val in pt_list.to_dict().items():
    if not np.count_nonzero(np.isnan(np.array(val["Sx"]))) >= 1:
        constraint_list += [name]


final_list = pt_list[constraint_list]
final_list

x,-1.806631,-1.404905,-1.272233,-0.815198,-0.036205,0.401458,0.821722,1.213271,1.529106,1.657522
Sx,"[1.5718963618451518, 1.7284386237908005, 1.569...","[1.3220047607547334, 1.2682663031390302, 1.239...","[1.2642788556836164, 1.0127792960770323, 1.132...","[0.9036074390397716, 0.8585857344574707, 0.794...","[0.8497165787373626, 0.9424779417799746, 0.934...","[1.2061127402145349, 1.162918961244772, 1.5543...","[1.7374800866349271, 1.619871739189366, 1.2045...","[2.1556113444823586, 1.8537710312573823, 2.090...","[2.0303317872710407, 2.423364370615434, 1.7744...","[2.5555282069652754, 2.3929892415269425, 2.355..."

In [12]:
pt_list

x,-1.806631,-1.404905,-1.272233,-0.815198,-0.453386,-0.036205,0.401458,0.821722,1.213271,1.529106,1.657522
Sx,"[1.5718963618451518, 1.7284386237908005, 1.569...","[1.3220047607547334, 1.2682663031390302, 1.239...","[1.2642788556836164, 1.0127792960770323, 1.132...","[0.9036074390397716, 0.8585857344574707, 0.794...","[0.8423795595497198, 0.9530834155993732, 0.938...","[0.8497165787373626, 0.9424779417799746, 0.934...","[1.2061127402145349, 1.162918961244772, 1.5543...","[1.7374800866349271, 1.619871739189366, 1.2045...","[2.1556113444823586, 1.8537710312573823, 2.090...","[2.0303317872710407, 2.423364370615434, 1.7744...","[2.5555282069652754, 2.3929892415269425, 2.355..."

In [ ]:
S